/*------------------------------------*\
    $FORMS
\*------------------------------------*/

form {
  input, button, textarea, select {
    outline: 0;
  }
  input {
    border: 0;
    background-color: white;
    &:focus {
      background: darken(#fff, 3%)
    }
  }

  input[type='text'], input[type='email'] {
    margin-top: 10px;
    text-indent: 10px;
    height: 38px;
    color: $base-font-color;
    border: {
      color: #fff;
      width: 1px;
      style: solid;
    }
    // &.is-valid {
    //   border-color: $base-success-color;
    // }
    &.is-error {
      border-color: $base-fail-color;
    }
  }
  label.error {
    @include font-size(11px);
    margin-top: -1px;
    display: block;
    background: $base-fail-color;
    padding: .3em;
  }  
}

.input--full-width {
  width: 100%;
}

.input--submit, .button-blue {
  height: 40px;
  border: 1px solid #fff;
  text-transform: uppercase;
  background-color: $base-ui-color;
  border-radius: 2px;  
}

.input--submit[disabled], .input--submit[focus] {
  border-color: rgba(#fff, .3);
  color: rgba(#fff, .75);  
}