/*------------------------------------*\
    $HEADER
\*------------------------------------*/

.header {

}
  .header__logo {
    a {
      display: inline-block;      
    }
    img {
      padding: 1em 0;
      max-width: 100px;
    }
  }
  @media (min-width: $bp-md) {
    .header__logo {
      text-align: center;
    }
  }  
  @media (min-width: $bp-lg) {
    .header__logo {
      text-align: left;
      img {
        width: auto;
        max-width: 100%;
      }
    }
  }    
  .header__operators {
    text-align: right;
    a {
      color: $base-ui-color;
      text-decoration: none;
      display: inline-block;
      margin-left: .15em;
    }
  }
  @media (min-width: $bp-md) {
    .header__operators {
      display: none;
    }
  }
  .header__operators__phone {
    vertical-align: baseline;
  }  
  .header__operators__menu {
    padding: .7em 0 0 0;
  }
  .header__navigation {
    position: relative;
    padding: 0;
  }
  .header__navigation__content {
    position: absolute;
    z-index: 11;
    width: 100%;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;      
    }
    li {
      text-align: center;
      border-top: 1px solid $base-ui-color;
    }
    a {      
      @include font-size(18px);
      font-weight: 300;
      position: relative;
      display: block;
      color: $base-ui-color;      
      padding: .75em 0em;
      text-decoration: none;
      text-transform: uppercase;
      background-color: rgba(#fff, .95);
    }

    .a-login {
      background-color: $base-ui-color;
      color: white;
    }
  }
  @media (min-width: $bp-md) {
    .header__operators {
      display: none;
    }
  }
  @media (max-width: $bp-md) {
    .default-state {
      overflow: hidden;
      height: 0;
    }
  }

  // @media (min-width: $bp-md) {
  //   .header__navigation__content {
  //     position: relative;

  //     li {
  //       display: inline-block;
  //       margin-left: 1em;
  //     }
  //   }
  // }  
  @media (min-width: $bp-lg) {
    .header__navigation__content {
      position: relative;
      ul {
        margin-top: 2em;
        float: right;
      }
      li {
        display: inline-block;
        margin-left: 1em;
        border-top: 0;
        &.current-menu-item > a:before {
          content: "";
          position: absolute;
          width: 100%;
          left: 0;
          background: $base-ui-color;
          visibility: visible;   
          transform: ScaleX(1);
        }    
        &.current-menu-item > a:hover:before {
          opacity: 0.5;
        }          
      }
      a {
        @include font-size(14px);
        font-weight: 400;
        background-color: #fff;
        &:before {
          content: "";
          position: absolute;
          width: 100%;
          height: .125em;
          bottom: .5em;
          left: 0;
          background: $base-ui-color;
          visibility: hidden;
          transform: scaleX(0);
          transition: all 0.2s ease-in-out 0s;
        }
        &:hover:before {
          visibility: visible;
          transform: scaleX(1);        
        }        
      }

      .a-login {
        display: none;
      }
    }
  }    