/*------------------------------------*\
    $HTML
\*------------------------------------*/
html{
  position: relative;  
  font: #{($base-font-size/16px)*1em}/#{$line-height-ratio} $base-font-family;
  color: $base-font-color;
  overflow-y: scroll;
  min-height: 100%;
  background-color: #fff;
  strong, b {
    font-weight: 500;
  }
  p {
      line-height: 1.45em;
      font-weight: 300;
      margin: {
        bottom: 15px;
      }
  }
  a {
    color: $base-font-color;
  }
}

body {
  padding-bottom: 0;
}

@media (min-width: $bp-lg) {
  body {
    padding-bottom: 9.25em;
  }
}

*, *:before, *:after, input[type="search"] {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}

.key-point-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
  .key-point-list__item {
    a {
      display: block;
      background-color: $custom-silver;
      padding: .74em 1em;
      margin-bottom: 5px;  
      text-decoration: none;
      &:hover {
        background-color: darken($custom-silver, 5%);
      }    
    }
    p {
      margin: 0;
      font-weight: 300;
    }
    div {
      display: none;
      padding: .15em 1em .75em 1em;            
    }
  }
  // Layout based control;
  @media screen and (min-width: $bp-lg) {
    .key-point-list__container {
      padding-left: 30px;
    }
  }

.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}  

.text-gray, .text-gray > p {
  color: $base-font-color;
}