/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/

[class *= "wrapper"] {
  margin: 0 auto;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

.f-center {
  float: none;
  margin: 0 auto;
}

.wrapper-1140 {
  position: relative;
  max-width: $base-website-width;
}

.wrapper-1080 {
  position: relative;
  max-width: $base-website-width - 60px;
}

.aside-column {
  margin-top: 2em;
}

.pure-g {
  display: inherit;
}

@media screen and (min-width: $bp-md) {
  .aside-column {
    padding-left: 15px;
  }  
}
@media screen and (min-width: $bp-lg) {
  .aside-column {
    padding-left: 25px;
  }  
}

@media screen and (min-width: $bp-md) {
  .has-hero-slider {
    margin-top: -115px;
  }
  .has-hero-slider--kc {
    margin-top: -140px;
  }  
}
@media screen and (min-width: $bp-lg) {
  .has-hero-slider {
    margin-top: -135px;
  }
  .has-hero-slider--kc {
    margin-top: -190px;
  }    
}

.m-10-top {
  margin-top: 10px;
}
.m-10-bottom {
  margin-bottom: 10px;
}

.m-20-top {
  margin-top: 20px;
}
.m-20-bottom {
  margin-bottom: 20px;
}