/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/

[class *= "wrapper"] {
  margin: 0 auto;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

.f-center {
  float: none;
  margin: 0 auto;
}

.wrapper-1140 {
  position: relative;
  max-width: $base-website-width;
}

.m-10-top {
  margin-top: 10px;
}
.m-10-bottom {
  margin-bottom: 10px;
}