/*------------------------------------*\
    $OBJECTS
\*------------------------------------*/

.banner {
  background: {
    image: url('dist/images/default-banner.jpg');
    repeat: no-repeat;    
    position-x: center;
    size: cover;
  }
  overflow: hidden;
  height: 14em;
}
  .banner__title {
    @include font-size(26px);
    position: absolute;
    text-transform: uppercase;    
    color: #fff;
    font-weight: 100;
  }
  .banner___decoration {
    position: absolute;
    width: 47%;
    height: 14em;
    border-right: 5em solid rgba(0, 0, 0, 0);
    border-bottom: 14em solid rgba($base-ui-color, .85);
  }
  @media screen and (min-width: $bp-md) {
    .banner__title {
      position: absolute;
      padding-bottom: .5em;
      border-bottom: 1px solid #fff;
      top: 2em;
      left: .5em;   
      width: 30%;   
    }  
  }  

.lead-box {
  @include font-size(22px);      
  font-weight: 300;
  text-align: center;
  background-color: white;
  color: $base-ui-color;
  margin-bottom: 0;    
  font-style: italic;
}
  // Layout based control;
  @media screen and (min-width: $bp-md) {
    .column-layout .lead-box {
      text-align: left;
    }
  }
  .lead-box--telephone {
    @include font-size(42px);  
    color: $base-font-color;
    text-decoration: none;
  }

.introduction-box {
  position: relative;
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;  
  margin-top: 2em;
}
  .introduction-box__overlay {
    position: absolute;
    background-color: rgba($base-ui-color, .95);
    width: 100%;
    height: 100%;
  }
  .introduction-box__content {
    color: #fff;
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center; 
    i {
      float: left;      
      width: 100%;
    }
  }
  .introduction-box__content__title {
    color: #fff;
    text-transform: initial;   
    font-weight: 300;
  }

  @media screen and (max-width: $bp-sm) {
    .introduction-box__content__wrap {    
      height: auto !important;
    }
  }       
  @media screen and (min-width: $bp-md) {
    .introduction-box__content__wrap {
      padding-right: 2em;
    }
  }    
  @media screen and (min-width: $bp-md) {
    .introduction-box__content {
      padding: 0 2em 2em;
      text-align: left;
      i {
        float: left;
        width: auto;
        margin-top: 6px;
        margin-right: 15px;      
      }
    }
  }
  // .introduction-box__content__video {
  //   position: relative; 
  //   margin: 0 auto;
  //   iframe,
  //   object,
  //   embed { 
  //     width: 100%;
  //     height: 100%;
  //   }
  // }
  // @media screen and (min-width: $bp-md) {
  //   .introduction-box__content__video {
  //     position: relative; 
  //     padding-bottom: 25%;
  //     height: 0;
  //     overflow: hidden;
  //     max-width: 100%;
  //     height: auto;

  //     iframe,
  //     object,
  //     embed { 
  //       position: absolute;
  //       top: 0;
  //       left: -5px;
  //     }
  //   }
  // }   

.next-steps-callout {
  position: relative;
  background-color: $base-ui-color; 
  margin: 2em 0 0;
  text-align: center;
  margin-top: 1.5em;
}
  .next-steps-callout__content {
    color: #fff;
    padding-bottom: 2em;
  }
  .next-steps-callout__content__title {
    @include font-size(18px);  
    color: #fff;
    font-weight: 400;
    margin-top: 1em;
  }
  // Layout based control;
  @media screen and (min-width: $bp-md) {
    .column-layout .next-steps-callout {
      background-color: #fff; 
      text-align: left;
      padding: 1em 2em;
      border: 1px $base-ui-color solid;
    }
    .column-layout .next-steps-callout__content {
      color: $base-font-color;
    }
    .column-layout .next-steps-callout__content__title {
      color: $base-ui-color;
    }  
  }  
  @media screen and (max-width: $bp-md) {
    .column-layout .next-steps-callout {
      margin-left: -5px;
      margin-right: -5px;
    }
  }

  
.callout {
  margin-top: 10px;
  padding: 1.25em 1.25em 1.25em 1.25em;
  background-color: $base-ui-color;
  color: #fff;
}
  @media screen and (max-width: $bp-sm) {
    .callout {    
      height: auto !important;
    }
  }
  .callout__title {
      @include font-size(18px);
      font-weight: 300;
      text-transform: uppercase;
      margin: 10px 0 .25em 0;
      color: #fff;
  }
  .callout__title--leading {
    @include font-size(22px);    
  }
  .callout__paragraph {
    @include font-size(12px);    
    margin: 0 0 .25em 0;
  }  
  .callout__paragraph--leading {
    @include font-size(16px);  
    font-weight: 400;  
  }
  .callout__form {
    
  }

.callout-well {
  border: 1px solid $base-font-color;
  background-color: #fff;
  color: $base-font-color;
  .callout__title {
    color: $base-ui-color;
  }
  a {
    text-decoration: none;
    display: inline-block;
  }
}

.aside-box {
  margin-top: 10px;  
  background-color: $base-color;
  color: #fff;
  transition: background-color 200ms ease-out;
  &:hover {
    background-color: lighten($base-color, 5%);
  }   
}
  @media screen and (max-width: $bp-sm) {
    .aside-box {    
      height: auto !important;
    }
  }
  .aside-box__image {
    display: none;
  }  
  @media screen and (min-width: $bp-md) {
    .aside-box__image {
      display: block;
      height: 9em;    
      background-size: cover;
      background-position: center center;    
    }   
  }  
  .aside-box__content {
    text-align: left;
    z-index: 10;
    position: relative;
    color: #fff;
    text-decoration: none;
    padding: 2em;
    display: inline-block;
  }   
    .aside-box__content__title {
        @include font-size(20px);
        font-weight: 300;
        text-transform: uppercase;
        margin: 10px 0 .25em 0;
        color: #fff;
    }
    .aside-box__content__paragraph {
      @include font-size(14px);   
      line-height: 1.4; 
      margin: 0;
    }    

.testimonial-box {
  margin-top: 10px;  
  background-color: $base-color;
  color: #fff;
  transition: none;
  text-align: left;
  &:hover {
    background-color: $base-color;
  }   
}
  .testimonial-box__content {
    text-align: left;
    z-index: 10;
    position: relative;
    color: #fff;
    text-decoration: none;
    padding: 1.75em 2em 1.75em 3em;
    display: inline-block;
    font-style: italic;
  }
  .testimonial-box__content__paragraph {
    &:before {
      position: absolute;
      top: -0.3em;
      left: -1.75em;
      z-index: 5;
      display: block;
      content: "";
      background: {
        image: url('dist/images/quote_open.png');
        size: 100%;
        repeat: no-repeat;
        position-x: center;
      };   
      width: 25px;
      height: 20px;
    }
    &:after {
      vertical-align: -10px;
      z-index: 5;
      display: inline-block;
      content: "";
      background: {
        image: url('dist/images/quote_close.png');
        size: 100%;
        repeat: no-repeat;
        position-x: center;
      };   
      margin-left: 3px;
      width: 25px;
      height: 20px;
    }    
    position: relative;
    font-weight: 400;
    margin-bottom: 0;
  }
  .testimonial-box__attr {
    @include font-size(14px);        
    margin-top: 10px;
    font-weight: 400;
    strong {
      font-weight: 700;
      margin-bottom: 2px;
      display: inline-block
    }
  }  
  .testimonial-box__view-all {
    @include font-size(14px);    
    margin-top: 20px;  
    font-weight: 300;
    font-style: normal;
    display: block;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    text-align: right;
  }
  @media screen and (min-width: $bp-md) {
    .testimonial-box__view-all {
      margin-right: -.5em;
    }
  }

.multi-box {

}
  @media screen and (max-width: $bp-sm) {
    .multi-box {    
      height: auto !important;
    }
  }
  .multi-box__single {
    background-color: $base-color;
    color: #fff;
    transition: background-color 200ms ease-out;
    &:hover {
      background-color: lighten($base-color, 5%);
    }    
  }
  @media screen and (min-width: $bp-md) {
    .multi-box__single__image {
      min-height: 8.5em;
    }  
    .multi-box__single__image--double {
      min-height: 16em;
    }
  }

  .multi-box__single--yellow {
    background-color: $custom-yellow;
    &:hover {
      background-color: lighten($custom-yellow, 5%);
    }    
  } 
  .multi-box__single--red {
    background-color: $custom-red;
    &:hover {
      background-color: lighten($custom-red, 5%);
    }    
  }    
  .multi-box__single--green {
    background-color: $custom-green;
    &:hover {
      background-color: lighten($custom-green, 5%);
    }
  }    
  .multi-box__single--purple {
    background-color: $custom-purple;
    &:hover {
      background-color: lighten($custom-purple, 5%);
    }
  }   
    .multi-box__single__image {
      background-size: cover;
      background-position: center center;
    }  
    .multi-box__single__image--fixed {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;      
    }
    @media screen and (min-width: $bp-md) {
      .multi-box__single__image--fixed {
        position: relative;  
      } 
    }

    .multi-box__single__content {
      z-index: 10;
      position: relative;
      color: white;
      text-decoration: none;
      padding: 2.5em .5em 1em;
      display: inline-block;
    } 
    @media screen and (min-width: $bp-md) {
        .multi-box__single__content {
          padding: 2em .75em 1em;
        }     
    }  
      .multi-box__single__content--fixed {  
        padding: 6em 1.25em 1.25em;
        text-align: center;
      }
      @media screen and (min-width: $bp-md) {
        .multi-box__single__content--fixed {
          position: absolute;
          padding: 1.25em;
          margin: -1.25em;        
          bottom: 1.25em;
          width: 100%;
          text-align: left;
        }     
      }       
      .multi-box__single__content__title {
        @include font-size(18px);
        font-weight: 300;        
        text-transform: uppercase;
        margin: 0 0 .25em 0;
        color: #fff;
      }
      .multi-box__single__content__title--jumbo {
          @include font-size(22px);      
      }      
      @media screen and (min-width: $bp-md) {
        .multi-box__single__content__title--jumbo {
          @include font-size(24px);
        }     
      }          
      .multi-box__single__content__paragraph {
        @include font-size(14px);    
        line-height: 1.4;
        margin: 0;
      }

  .multi-box__single--flip {
    div {
      max-height: 18em;
    }
  }  
    .multi-box__single--flip__image {
      height: 8em;
    }   
    .multi-box__single--flip__content {
      padding: 2em 1.25em
    }  
    @media screen and (min-width: $bp-md) {

      .multi-box__single--flip {
        div {
          max-height: 100%;
        }
      } 
     
    }  


.transformer-tabs {
  width: 100%;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0;
  }
  li {
    @include font-size(18px);
  }
  a {
    position: relative;  
    display: block;
    text-decoration: none;
    padding: 0.5rem;
    background-color: $custom-gray;
    &.active {
      position: relative;
      background-color: $base-ui-color;      
      color: white;
    }
  }  
}  
@media (min-width: $bp-md) {
  .transformer-tabs {  
    ul {
      overflow: hidden;    
    }
    li {
      @include font-size(14px);
      display: inline-block;
      border-right: 2px solid #fff;
    }
    a {
      padding: 1em 0.7em
    }
  }
}

.transformer-tabs__tab {
  display: none;
  padding-top: 0;
  border-top: 2px solid #fff;
  &.active {
    display: block;  
  }
}

.transformer-tabs__tab__content {
  @include font-size(14px);
  background: $base-ui-color;   
  width: 100%;
  display: inline-block;
    padding: 1em;
  p {
    color: #fff;    
  }
}
@media (min-width: $bp-md) {
  .transformer-tabs__tab__content {
    padding: 2em;
  }
}

.our-team-tutor-box {
  border: 1px solid $base-ui-color;
  background-color: #fff;
  position: relative;
  overflow: hidden;  
}
  @media screen and (max-width: $bp-sm) {
    .our-team-tutor-box {    
      height: auto !important;
    }
  }

.our-team-tutor-box__content {
  position: relative;
  padding: 1em;
}
  .our-team-tutor-box__content__center {
    display: table-cell;
    vertical-align: middle;
  }
.our-team-tutor-box__content--table {
  display: table;
  width: 100%;
  height: 100%;
  .our-team-tutor-box__title {
    @include font-size(18px);
    color: #fff;
    display: block;
    background: none;
    font-weight: 400;        
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    margin: 0;
    cursor: initial;
    span {
      @include font-size(16px);    
      font-weight: 300;  
      width: 100%;
      margin-top: .5em;
      text-transform: initial;
    }
  }
}  

.our-team-tutor-box__title {
  @include font-size(16px);
  position: relative;  
  color: $base-ui-color;
  margin: 0;
  span {
    margin-top: .15em;
    display: inline-block;
    width: 100%;
  }
}
.our-team-tutor-box__content p {
  @include font-size(14px);
}

.our-team-tutor-box--become-tutor {
  display: inline-block;
  background: {
    image: url('dist/images/work-with-fm-bg.jpg');
    size: cover;
    repeat: no-repeat;
    position-x: center;
  };
  &:hover .our-team-tutor-box__overlay {
    background-color: rgba($base-ui-color, .92);    
  }
}
.our-team-tutor-box__overlay {
  position: absolute;
  background-color: rgba($base-ui-color, .85);
  width: 100%;
  height: 100%;  
  transition: background-color 200ms ease-out;
}

.our-team-member-box {
  //padding: 1em;
  background-color: $base-ui-color;
  position: relative;
  overflow: hidden;
}
.our-team-member-box--bg {
  background: {
    size: cover;
    repeat: no-repeat;
    position-x: center;
  };
}
.our-team-member-box--work-with-fm {
  display: inline-block;
  width: 100%;
  background: {
    image: url('dist/images/work-with-fm-bg.jpg');
    size: cover;
    repeat: no-repeat;
    position-x: center;
  };
  &:hover .our-team-member-box__overlay {
    background-color: rgba($base-ui-color, .92);    
  }
}
.our-team-member-box__overlay {
  position: absolute;
  background-color: rgba($base-ui-color, .85);
  width: 100%;
  height: 100%;  
  transition: background-color 200ms ease-out;
}
  @media screen and (max-width: $bp-sm) {
    .our-team-member-box {    
      height: auto !important;
    }
    .our-team-member-box__wrap {
      margin-top: 0 !important;
    }
  }
  .our-team-member-box__wrap {
    //float: left;
    transition: all 400ms ease-out;
  }
  .our-team-member-box--is-open {
    .our-team-member-box__wrap {
      margin-top: 0 !important;      
    }
    .our-team-member-box__title {
      background-color: rgba($base-ui-color, 0);
    }
  }

.our-team-member-box__title {
  @include font-size(16px);
  position: relative;
  font-weight: 300;
  color: #fff;
  margin: 0;
  padding: 1em;
  cursor: pointer;
  background-color: rgba($base-ui-color, .9);
  transition: all 400ms ease-out;  
  span {
    @include font-size(13px);    
    margin-top: .15em;
    display: inline-block;
    width: 100%;
  }
}
.our-team-member-box__title i {
  position: absolute;
  bottom: .5em;
  right: .3em;
}  
@media (min-width: $bp-md) {
  .our-team-member-box__title:hover {
  background-color: rgba($base-ui-color, .95);
  }  
}
.our-team-member-box__content {
  position: relative;
  padding: 1em;
}
  .our-team-member-box__content__center {
    display: table-cell;
    vertical-align: middle;
  }
.our-team-member-box__content--table {
  display: table;
  width: 100%;
  height: 100%;
  .our-team-member-box__title {
    @include font-size(22px);
    display: block;
    background: none;
    font-weight: 400;        
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    margin: 0;
    cursor: initial;
    span {
      @include font-size(16px);    
      font-weight: 300;  
      width: 100%;
      margin-top: 1.5em;
      text-transform: initial;
    }
  }
}  
  .our-team-member-box__content p {
    @include font-size(14px);
    color: #fff;
  }
  .our-team-member-box__content img {
    margin-top: 15px;
    max-width: 100%;
  }


.timeline {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 26px;
    height: 100%;
    width: 4px;
    background: $base-ui-color;
  }
}
  @media screen and (min-width: $bp-sm) {
    .timeline {

      &:before {
        left: 50%;
        margin-left: -2px;
      }
    }
  }

  .timeline__block {
    @extend .clearfix;
    position: relative;
    margin: 4em 0;

    &:first-child {
      margin: 0;
    }
  }

  .timeline__block__content {
    position: relative;
    margin-left: 64px;
    background: white;
    padding: .5em;
    border: 1px solid $base-ui-color;
    p {
      margin: 0 0 15px 0;
      &:last-of-type {
        margin: 0;
      }
    }
  }
    @media screen and (min-width: $bp-sm) {
      .timeline__block__content {
        margin-left: 0;
        padding: .75em;
        width: 35%;
      }
    }

  .timeline__block__date {
    position: absolute;
    z-index: 10;
    top: 10px;
    left: 0;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: 2px solid $base-ui-color;
    background-color: #fff;
    text-align: center;

    span {
      @include font-size(16px);
      position: absolute;
      font-weight: 400;      
      left: 0; right: 0;
      top: 15px; 
      color: $base-ui-color;
    }
  }
    @media screen and (min-width: $bp-sm) {
      .timeline__block__date {
        width: 90px;
        height: 90px;
        left: 50%;
        margin-left: -45px;

        span {
          @include font-size(22px);
          top: 29px; 
        }        
      }
    }

  .timeline__block__content.f-left, .timeline__block__content.f-right {
    &:before {
      content: '';
      position: absolute;
      top: 34px;
      left: -20px;
      width: 20px;
      height: 1px;
      background-color: $base-ui-color;
    }
  }  
    @media screen and (min-width: $bp-sm) {
      .timeline__block__content.f-left, .timeline__block__content.f-right {
        &:before {
          content: '';
          position: absolute;
          top: 53px;          
          width: 35%;
          height: 1px;
          background-color: $base-ui-color;
        }
      }
      .timeline__block__content.f-left {
        &:before {
          left: initial;
          right: -35%;          
        }
      }
      .timeline__block__content.f-right {
        &:before {
          left: -35%;          
        }
      }
    }  

  .timeline__block__onwards {
    position: absolute;
    z-index: 10;
    top: 10px;
    left: 0;
    width: 100px;
    height: 50px;
    text-align: center;

    &:before {
      content: '';
      width: 0;
      position: absolute;
      height: 0;
      left: 20px;
      top: -10px;
      border-style: solid;
      border-width: 10px 8px 0 8px;
      border-color: $base-ui-color transparent transparent transparent;      
    }

    span {
      font-size: 0;
      position: absolute;
      font-weight: 400;      
      left: 0; right: 0;
      color: $base-ui-color;
    }
  }    

    @media screen and (min-width: $bp-sm) {
      .timeline__block__onwards {
        width: 100px;
        left: 50%;
        margin-left: -50px;   

        &:before {
          left: 50%;
          margin-left: -10px;
          border-width: 16px 10px 0 10px;          
        }

        span {
          @include font-size(16px);
          text-transform: uppercase;
          padding-top: 1em;
        }  
      }
    }  

.clients-slider {
  max-width: 100%;
  //margin: -5px -10px;
}

.our-clients {
}
  @media screen and (min-width: $bp-sm) {
    .our-clients {
      padding: 0 10px;
    }
  }
  @media screen and (min-width: $bp-lg) {
    .our-clients {
      padding: 0 15px;
      
      .slick-list {
        margin-left: -10px;
      }      
    }
  }  

.our-clients__title {
  font-weight: 300;
  margin-bottom: 0;
  text-align: center;
}
  @media screen and (min-width: $bp-md) {
    .our-clients__title {
      text-align: left;
    }
  }
.our-clients__prev {
  margin-left: 5px;
}
.our-clients__next, .our-clients__prev {
  text-decoration: none;
  color: $base-ui-color;
  border: 2px solid $base-ui-color;
  border-radius: 50%;
  padding: 4px;
  transition: color 200ms ease-out;
  &:hover {
    color: lighten($base-color, 15%);
  }
}

.hero-slider {
  position: relative; 
  overflow: hidden;
  max-height: 15em;  
}
  @media screen and (min-width: $bp-md) {
    .hero-slider {
      max-height: 25em;
    }    
  }
  @media screen and (min-width: $bp-lg) {
    .hero-slider {
      max-height: 32em;
    }    
  }
@media screen and (min-width: $bp-md) {
  .hero-slider .slick-dots {
    display: block;
    bottom: 8em;
    position: absolute;
    max-width: $base-website-width;
    margin: 0;
    padding-left: 25px;    
    //left: 50%;
    //margin-left: -550px;
    li {
      display: inline-block;
      margin-right: 4px;
      &.slick-active div {
        background-color: #fff;
      }
    }
    div {
      height: 5px;
      width: 20px;
      background-color: rgba(#fff, .6);
      cursor: pointer;
      &:hover {
        background-color: #fff;          
      }      
    }
  }
}

@media screen and (min-width: $bp-lg) {
  .hero-slider .slick-dots {
    padding: 0;
    left: 50%;
    bottom: 14em;
    margin-left: -535px;
  }
}

.hero-slider__content {
  position: absolute;
  bottom: -14em;
}
  @media screen and (min-width: $bp-md) {
    .hero-slider__content {
      top: 3em;
      left: 20px;      
    }  
  } 
  @media screen and (min-width: $bp-lg) {
    .hero-slider__content {
      top: 4.75em;
      left: 30px;
    }  
  }  

.hero-slider__content__title {
  @include font-size(22px);
  border-bottom: 1px solid #fff;
  padding-bottom: .5em;
  text-transform: uppercase;    
  color: #fff;
  font-weight: 700;
}

.hero-slider__content__body {
  display: none;
}
  @media screen and (min-width: $bp-md) {
    .hero-slider__content__body {
      clear: both;
      display: block;     
      p {
        font-weight: 400;  
        color: #fff; 
        line-height: 1.6em;        
      }
    }  
  }  
.hero-slider__image {
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;    
  min-height: 15em;  
}
  @media screen and (min-width: $bp-md) {
    .hero-slider__image {
      min-height: 25em;
    }    
  }
  @media screen and (min-width: $bp-lg) {
    .hero-slider__image {
      min-height: 32em;
    }    
  }
.hero-slider__overlay {
  position: absolute;
 // background-color: rgba(0, 175, 255, 0.84);

  width: 100%;
  height: 100%;
}  
.gmap-wrap {
  position: relative;
}
.gmap {
  
  min-height: 150px;
  max-height: 200px;
}
  @media screen and (min-width: $bp-md) {
    .gmap {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
    }
  }

