/*------------------------------------*\
    $OBJECTS
\*------------------------------------*/

.banner {
  background: {
    image: url('dist/images/default-banner.jpg');
    repeat: no-repeat;    
    position-x: center;
  }
  height: 12em;
}
  .banner__title {
    @include font-size(22px);
    position: absolute;
    text-transform: uppercase;    
    color: #fff;
    font-weight: 700;
  }
  @media screen and (min-width: $bp-md) {
    .banner__title {
      position: absolute;
      padding-bottom: .5em;
      border-bottom: 1px solid #fff;
      top: 2.75em;
      left: .5em;      
    }  
  }  

.lead-box {
  @include font-size(22px);      
  font-weight: 300;
  text-align: center;
  background-color: white;
  color: $base-ui-color;
  margin-bottom: 1.5em;    
}
  // Layout based control;
  @media screen and (min-width: $bp-md) {
    .column-layout .lead-box {
      text-align: left;
    }
  }

.introduction-box {
  position: relative;
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;  
}
  .introduction-box__overlay {
    position: absolute;
    background-color: rgba($base-ui-color, .95);
    width: 100%;
    height: 100%;
  }
  .introduction-box__content {
    color: #fff;
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center; 
    i {
      float: left;      
      width: 100%;
    }
  }
  .introduction-box__content__title {
    color: #fff;
    text-transform: initial;   
    font-weight: 300;
  }

  @media screen and (max-width: $bp-sm) {
    .introduction-box__content__wrap {    
      height: auto !important;
    }
  }       
  @media screen and (min-width: $bp-md) {
    .introduction-box__content__wrap {
      padding-right: 2em;
    }
  }    
  @media screen and (min-width: $bp-md) {
    .introduction-box__content {
      padding: 2em;
      text-align: left;
      i {
        float: left;
        width: auto;
        margin-top: 6px;
        margin-right: 15px;      
      }
    }
  }
  .introduction-box__content__video {
    position: relative; 
    margin: 0 auto;
    iframe,
    object,
    embed { 
      width: 100%;
      height: 100%;
    }
  }
  @media screen and (min-width: $bp-md) {
    .introduction-box__content__video {
      position: relative; 
      padding-bottom: 25%;
      height: 0;
      overflow: hidden;
      max-width: 100%;
      height: auto;

      iframe,
      object,
      embed { 
        position: absolute;
        top: 0;
        left: -5px;
      }
    }
  }   

.next-steps-callout {
  position: relative;
  background-color: $base-ui-color; 
  margin: 2em 0 0;
  text-align: center;
}
  .next-steps-callout__content {
    color: #fff;
    //padding-top: 2em;
    padding-bottom: 2em;
  }
  .next-steps-callout__content__title {
    @include font-size(18px);  
    color: #fff;
    font-weight: 400;
  }
  // Layout based control;
  @media screen and (min-width: $bp-md) {
    .column-layout .next-steps-callout {
      background-color: #fff; 
      text-align: left;
      margin: 0;
    }
    .column-layout .next-steps-callout__content {
      color: $base-font-color;
    }
    .column-layout .next-steps-callout__content__title {
      color: $base-ui-color;
    }  
  }  
.callout {
  margin-top: 10px;
  padding: 1.25em 1.25em 2em 1.25em;
  background-color: $base-ui-color;
  color: #fff;
}
  @media screen and (max-width: $bp-sm) {
    .callout {    
      height: auto !important;
    }
  }
  .callout__title {
      @include font-size(18px);
      font-weight: 300;
      text-transform: uppercase;
      margin: 10px 0 .25em 0;
      color: #fff;
  }
  .callout__paragraph {
    @include font-size(12px);    
    margin: 0 0 .25em 0;
  }  
  .callout__form {
    
  }


.aside-box {
  margin-top: 10px;  
  background-color: $base-color;
  color: #fff;
  transition: background-color 200ms ease-out;
  &:hover {
    background-color: lighten($base-color, 5%);
  }   
}
  @media screen and (max-width: $bp-sm) {
    .aside-box {    
      height: auto !important;
    }
  }
  .aside-box__image {
    display: none;
  }  
  @media screen and (min-width: $bp-md) {
    .aside-box__image {
      display: block;
      height: 9em;    
      background-size: cover;
      background-position: center center;    
    }   
  }  
  .aside-box__content {
    text-align: center;
    z-index: 10;
    position: relative;
    color: #fff;
    text-decoration: none;
    padding: 2em;
    display: inline-block;
  }   
    .aside-box__content__title {
        @include font-size(20px);
        font-weight: 300;
        text-transform: uppercase;
        margin: 10px 0 .25em 0;
        color: #fff;
    }
    .aside-box__content__paragraph {
      @include font-size(12px);    
      margin: 0;
    }    


.multi-box {

}
  @media screen and (max-width: $bp-sm) {
    .multi-box {    
      height: auto !important;
    }
  }
  .multi-box__single {
    background-color: $base-color;
    color: #fff;
    transition: background-color 200ms ease-out;
    &:hover {
      background-color: lighten($base-color, 5%);
    }    
  }
  @media screen and (min-width: $bp-md) {
    .multi-box__single__image {
      min-height: 13em;
    }  
  }

  .multi-box__single--yellow {
    background-color: $custom-yellow;
    &:hover {
      background-color: lighten($custom-yellow, 5%);
    }    
  } 
  .multi-box__single--red {
    background-color: $custom-red;
    &:hover {
      background-color: lighten($custom-red, 5%);
    }    
  }    
  .multi-box__single--green {
    background-color: $custom-green;
    &:hover {
      background-color: lighten($custom-green, 5%);
    }
  }    
  .multi-box__single--purple {
    background-color: $custom-purple;
    &:hover {
      background-color: lighten($custom-purple, 5%);
    }
  }   
    .multi-box__single__image {
      background-size: cover;
      background-position: center center;
    }  
    .multi-box__single__image--fixed {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;      
    }
    @media screen and (min-width: $bp-md) {
      .multi-box__single__image--fixed {
        position: relative;  
      } 
    }

    .multi-box__single__content {
      z-index: 10;
      position: relative;
      color: white;
      text-decoration: none;
      padding: 2.5em .5em 1em;
      display: inline-block;
    } 
    @media screen and (min-width: $bp-md) {
        .multi-box__single__content {
          padding: 4em .75em 1em;
        }     
    }  
      .multi-box__single__content--fixed {  
        padding: 6em 1.25em 1.25em;
        text-align: center;
      }
      @media screen and (min-width: $bp-md) {
        .multi-box__single__content--fixed {
          position: absolute;
          padding: 1.25em;
          margin: -1.25em;        
          bottom: 1.25em;
          width: 100%;
          text-align: left;
        }     
      }       
      .multi-box__single__content__title {
        @include font-size(18px);
        font-weight: 300;        
        text-transform: uppercase;
        margin: 0 0 .25em 0;
        color: #fff;
      }
      .multi-box__single__content__title--jumbo {
          @include font-size(22px);      
      }      
      @media screen and (min-width: $bp-md) {
        .multi-box__single__content__title--jumbo {
          @include font-size(24px);
        }     
      }          
      .multi-box__single__content__paragraph {
        @include font-size(12px);    
        margin: 0;
      }

  .multi-box__single--flip {
    div {
      max-height: 18em;
    }
  }  
    .multi-box__single--flip__image {
      height: 8em;
    }   
    .multi-box__single--flip__content {
      padding: 2em 1.25em
    }  
    @media screen and (min-width: $bp-md) {

      .multi-box__single--flip {
        div {
          max-height: 100%;
        }
      } 
     
    }  


.transformer-tabs {
  width: 100%;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0;
  }
  li {
    @include font-size(18px);
  }
  a {
    position: relative;  
    display: block;
    text-decoration: none;
    padding: 0.5rem;
    background-color: $custom-gray;
    &.active {
      position: relative;
      background-color: $base-ui-color;      
      color: white;
    }
  }  
}  
@media (min-width: $bp-md) {
  .transformer-tabs {  
    ul {
      overflow: hidden;    
    }
    li {
      @include font-size(14px);
      display: inline-block;
      border-right: 2px solid #fff;
    }
    a {
      padding: 1em 1.5em
    }
  }
}

.transformer-tabs__tab {
  display: none;
  padding-top: 0;
  border-top: 2px solid #fff;
  &.active {
    display: block;  
  }
}

.transformer-tabs__tab__content {
  @include font-size(14px);
  background: $base-ui-color;   
  width: 100%;
  display: inline-block;
  padding: 0 .5em;
  p {
    color: #fff;    
  }
}
@media (min-width: $bp-md) {
  .transformer-tabs__tab__content {
    padding: .5em 1.5em;
  }
}

.our-team-tutor-box {
  border: 1px solid $base-ui-color;
  background-color: #fff;
  position: relative;
  overflow: hidden;  
}
  @media screen and (max-width: $bp-sm) {
    .our-team-tutor-box {    
      height: auto !important;
    }
  }

.our-team-tutor-box__content {
  position: relative;
  padding: 1em;
}
  .our-team-tutor-box__content__center {
    display: table-cell;
    vertical-align: middle;
  }
.our-team-tutor-box__content--table {
  display: table;
  width: 100%;
  height: 100%;
  .our-team-tutor-box__title {
    @include font-size(18px);
    color: #fff;
    display: block;
    background: none;
    font-weight: 400;        
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    margin: 0;
    cursor: initial;
    span {
      @include font-size(16px);    
      font-weight: 300;  
      width: 100%;
      margin-top: .5em;
      text-transform: initial;
    }
  }
}  

.our-team-tutor-box__title {
  @include font-size(16px);
  position: relative;  
  color: $base-ui-color;
  margin: 0;
  span {
    margin-top: .15em;
    display: inline-block;
    width: 100%;
  }
}
.our-team-tutor-box__content p {
  @include font-size(14px);
}

.our-team-tutor-box--become-tutor {
  display: inline-block;
  background: {
    image: url('dist/images/work-with-fm-bg.jpg');
    size: cover;
    repeat: no-repeat;
    position-x: center;
  };
  &:hover .our-team-tutor-box__overlay {
    background-color: rgba($base-ui-color, .92);    
  }
}
.our-team-tutor-box__overlay {
  position: absolute;
  background-color: rgba($base-ui-color, .85);
  width: 100%;
  height: 100%;  
  transition: background-color 200ms ease-out;
}

.our-team-member-box {
  //padding: 1em;
  background-color: $base-ui-color;
  position: relative;
  overflow: hidden;
}
.our-team-member-box--bg {
  background: {
    size: cover;
    repeat: no-repeat;
    position-x: center;
  };
}
.our-team-member-box--work-with-fm {
  display: inline-block;
  background: {
    image: url('dist/images/work-with-fm-bg.jpg');
    size: cover;
    repeat: no-repeat;
    position-x: center;
  };
  &:hover .our-team-member-box__overlay {
    background-color: rgba($base-ui-color, .92);    
  }
}
.our-team-member-box__overlay {
  position: absolute;
  background-color: rgba($base-ui-color, .85);
  width: 100%;
  height: 100%;  
  transition: background-color 200ms ease-out;
}
  @media screen and (max-width: $bp-sm) {
    .our-team-member-box {    
      height: auto !important;
    }
    .our-team-member-box__wrap {
      margin-top: 0 !important;
    }
  }
  .our-team-member-box__wrap {
    float: left;
    transition: all 400ms ease-out;
  }
  .our-team-member-box--is-open {
    .our-team-member-box__wrap {
      margin-top: 0 !important;      
    }
    .our-team-member-box__title {
      background-color: rgba($base-ui-color, 0);
    }
  }

.our-team-member-box__title {
  @include font-size(16px);
  position: relative;
  font-weight: 300;
  color: #fff;
  margin: 0;
  padding: 1em;
  cursor: pointer;
  background-color: rgba($base-ui-color, .9);
  transition: all 400ms ease-out;  
  span {
    @include font-size(13px);    
    margin-top: .15em;
    display: inline-block;
    width: 100%;
  }
}
.our-team-member-box__title i {
  position: absolute;
  bottom: .5em;
  right: .3em;
}  
@media (min-width: $bp-md) {
  .our-team-member-box__title:hover {
  background-color: rgba($base-ui-color, .95);
  }  
}
.our-team-member-box__content {
  position: relative;
  padding: 1em;
}
  .our-team-member-box__content__center {
    display: table-cell;
    vertical-align: middle;
  }
.our-team-member-box__content--table {
  display: table;
  width: 100%;
  height: 100%;
  .our-team-member-box__title {
    @include font-size(22px);
    display: block;
    background: none;
    font-weight: 400;        
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    margin: 0;
    cursor: initial;
    span {
      @include font-size(16px);    
      font-weight: 300;  
      width: 100%;
      margin-top: 1.5em;
      text-transform: initial;
    }
  }
}  
  .our-team-member-box__content p {
    @include font-size(12px);
    color: #fff;
  }
  .our-team-member-box__content img {
    margin-top: 15px;
    max-width: 100%;
  }