/*------------------------------------*\
    $TYPE
\*------------------------------------*/

h1, h2, h3, h3, h4, h5 {
  font-weight: 300;
}

.icon-md {
  @include font-size(22px);
}

@font-face {
  font-family: 'icomoon';
  src:url('dist/fonts/icomoon.eot?-auqfvb');
  src:url('dist/fonts/icomoon.eot?#iefix-auqfvb') format('embedded-opentype'),
    url('dist/fonts/icomoon.woff?-auqfvb') format('woff'),
    url('dist/fonts/icomoon.ttf?-auqfvb') format('truetype'),
    url('dist/fonts/icomoon.svg?-auqfvb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: sub;  
}

.icon-chevron-left:before {
  content: "\e600";
}

.icon-chevron-right:before {
  content: "\e601";
}

.icon-triangle-left:before {
  content: "\e602";
}

.icon-triangle-right:before {
  content: "\e603";
}

.icon-login:before {
  content: "\e604";
}

.icon-menu:before {
  content: "\e605";
}

.icon-video:before {
  content: "\e606";
}

.icon-linkedin-with-circle:before {
  content: "\e607";
}

.icon-twitter-with-circle:before {
  content: "\e608";
}

